$miku-select-preCls: '#{$m9-preCls}-select';

$sContainerStyles: (
  bg-color: m9Themed('m9-element-bgClr'),
  font-color: m9Themed('m9-element-fontClr'),
  border-color: var(--gray-dark-1),
  active-font-color: var(--gray-dark-9),
  active-bg-color: var(--blue-light)
);

.#{$miku-select-preCls} + .#{$miku-select-preCls} {
  margin-left: 10px;
}

.#{$miku-select-preCls} {
  /* 外部结构样式 */

  /* 内部结构样式 */
  display: inline-block;
  padding: 0.3em 0.5em;
  border: 1px solid m9Themed('m9-element-borderClr');
  border-radius: 5px;

  font-size: $miku-font-small * 1.1;
  color: m9Themed('m9-element-fontClr');
  background-color: m9Themed('m9-element-bgClr');

  /* 特殊样式 */
  transition: all 0.22s;

  &__inner {
    display: flex;
    width: 10rem;
    border-radius: 4px;
    justify-content: space-between;
    cursor: pointer;
    > span {
      @include m9-text-overflow();
    }

    &.MSS-multiable {
      .m-multi-select-wrapper {
        display: flex;
        flex-wrap: wrap;
        
        &--item {
          display: inline-flex;
          height: 2em;
          background: m9Themed('m9-element-borderClr');
          border: solid m9Themed('m9-inner-element-borderSideClr');
          box-shadow: 0 0 1px 1px m9Themed('m9-element-bgClr');
          border-radius: 8px;
          color: #222;
          align-items: center;
          justify-content: space-between;
          &_content {
            flex: 3;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          &_close {
            flex: 1;
            font-size: 2em;
          }
        }
      }
    }
  }

  &-F__search {
    @include m9-flex-center();
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid m9Themed('m9-inner-element-borderSideClr');
    > input {
      width: 100%;
      padding: .3em;
      outline: none;
      border: none;
      border-radius: 6px;
      background-color: m9Themed('m9-inner-element-bgClr');
      color: m9Themed('m9-element-fontClr');
      &::placeholder {
        color: m9Themed('m9-element-fontClr');
        text-shadow: 0 0 2px #fff;
      }
      &:hover {
        background-color: m9Themed('m9-element-active-bgClr');
      }
    }
  }

  &__options {
    margin-top: 0.5rem;
    position: relative;
    padding: 0.25rem 0.5rem;
    background-color: map-get($map: $sContainerStyles, $key: bg-color);
    color: map-get($map: $sContainerStyles, $key: font-color);
    border-radius: 4px;
    box-shadow: 0 0 2px 0 m9Themed('m9-inner-element-borderSideClr');
    cursor: pointer;

    &--viewport {
      height: 15rem;
      overflow-y: scroll;
    }

    &--row {
      display: flex;
      @include m9-text-overflow();
      
      & + & {
        margin-top: 0.5em;
      }

      opacity: 0.9999;
      border-radius: 5px;
      transition: all .3377s;

      &:hover {
        opacity: 1;
        color: m9Themed('m9-inner-element-borderSideClr');
        background-color: m9Themed('m9-element-active-bgClr');
      }

      &.m-selected {
        color: var(--blue);
        background-color: m9Themed('m9-element-active-bgClr');
      }

      &-content {
        flex: 5;
      }
      &-yes_icon {
        flex: 1;
      }
    }

    &::before {
      // 小型上三角
      content: '';
      position: absolute;
      top: -0.4em;
      left: 3em;
      width: 0;
      height: 0;
      border-width: 0.4em;
      border-style: solid;
      border-color: transparent;
      border-top-width: 0;
      border-bottom-color: map-get($map: $sContainerStyles, $key: font-color);
    }
  }
}
