$miku-modal-preCls : "#{$m9-preCls}-modal";

.#{$miku-modal-preCls} {
  color: m9Themed('m9-element-fontClr');
  border-radius: 8px;

  // ? 这里用 absolute 绝对定位 - 弹框整体宽度就是 由内容撑开的; relative 相对定位 - 整体宽度就是默认DOM文档流(浏览器)的宽度, 和 'div' 一样的效果
  // ? relative:相对定位,相对自身原来位置,原有空间保留,不会被挤占。宽度为父元素宽度,且宽度会撑大/缩小父元素宽度
  // ? absolute:绝对定位,相对最近父元素,原有空间不保留会被其他元素挤占。宽度为文本宽度,且宽度不会影响父元素宽度
  position: absolute; // 这里不要用 fixed 固定定位 - 否则 modal 上边包裹的 M9Drgger 拖拽元素无法被 modal-drawer 元素自动撑开宽高

  background: m9Themed('m9-element-bgClr');
  // ! drawer - 抽屉类型 单独设置样式
  &.is-drawer {
    .#{$miku-modal-preCls}__header {
      cursor: unset;
    }

    &.fix-top, &.fix-bottom { height: 40vh; width: 100vw; }
    &.fix-left, &.fix-right { height: 100vh; width: 40vw; }
    &.fix-top {
      top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    &.fix-left {
      left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &.fix-bottom {
      bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.fix-right {
      right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__header {
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid m9Themed('m9-inner-element-borderSideClr');
    box-shadow: 0 1px 3px #7b7b7b;
    padding: 0.5rem;
    user-select: none;
    &-title {
      flex-grow: 1;
      text-align: left;
      font-size: 1.5rem;
      font-weight: 700;
    }
    &-rightbar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;
    }
  }

  &__body {
    padding: 0.5rem;
    min-height: 200px;
    min-width: 300px;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    padding: 8px;
    border-top: 2px solid #bfa9cb;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &-enter-active, &-leave-active {
    transition: 'all 500ms cubic-bezier(0, 0, 0.7, 1)';
  }
  &-enter-active {
    animation: miku-modal-show-enter 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-leave-active {
    animation: miku-modal-show-exit 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@keyframes miku-modal-show-enter {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1.0);
  }
}
@keyframes miku-modal-show-exit {
  from {
    transform: scale(1.0);
  }
  to {
    transform: scale(0);
  }
}